body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

.image-container {
    width: 100%;
    margin-bottom: 20px;
}

.main-image {
    width: 100%;
    height: auto; /* 원본 비율 유지 */
    border-radius: 10px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 항상 3열 */
    gap: 10px; /* 이미지 간 간격 */
    margin: 20px 0;
}

.thumbnail {
    width: 100%;        /* 부모 컨테이너 너비에 맞춤 */
    height: auto;       /* 높이는 자동으로 조정 */
    aspect-ratio: 1/1;  /* 1:1 비율 유지 */
    object-fit: cover;  /* 이미지를 자르고 비율 유지 */
    border-radius: 8px; /* 모서리를 둥글게 */
    cursor: pointer;
    transition: transform 0.2s;
}

.thumbnail:hover {
    transform: scale(1.05);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: auto;
}

.modal-content {
    max-width: 90%;
    max-height: 90%;
    display: block;
    margin: auto;
    border-radius: 10px;
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    color: white;
    cursor: pointer;
    transition: color 0.2s;
}

.close:hover {
    color: #bbb;
}

/* 카카오 맵 관련 */
.map-container {
    aspect-ratio: 16 / 9;   /* 16:9 비율 유지 */
    margin: 20px auto;      /* 상하 간격 및 가운데 정렬 */
    border-radius: 10px;    /* 모서리 둥글게 */
}

@media (max-width: 768px) {
    .map-container {
        aspect-ratio: 4 / 3; /* 태블릿 비율 */
    }
}

@media (max-width: 480px) {
    .map-container {
        aspect-ratio: 1 / 1; /* 모바일 비율 */
    }
}
/* 카카오 맵 관련 END */

h1 {
    font-size: 1.5em;
    color: #5a9;
    margin-bottom: 10px;
}
